.chat-main
  .chat-main-group-info
    .chat-main-group-info-box
      .chat-main-group-info-box-name
        = @group.name
        .chat-main-group-info-box-name-member-list
          Member :
          %ul
            - @group.users.each do |user|
              %li.group_member
                = user.name
      .chat-main-group-info-box-edit
        = link_to edit_group_path(@group.id), class: "edit__btn" do
          Edit
  .chat-main-message
    = render @messages
  .chat-main-message-form
    = form_for [@group, @message], html: {class: "chat-main-message-form-new"} do |f|
      .chat-main-message-form-new-input
        = f.text_field :content, class: 'chat-main-message-form-new-input-text', placeholder: 'type a message'
        %label.chat-main-message-form-new-input-image
          = icon('fas', 'image')
          = f.file_field :image, class: 'chat-main-message-form-new-input-image-file'
      = f.submit 'Send', class: 'chat-main-message-form-new-submit'
