.side-bar
  .side-bar-user-name
    .side-bar-user-name-box
      .side-bar-user-name-box-name
        = current_user.name
      .side-bar-user-name-box-icons
        = link_to "#" do
          = icon('far', 'edit',  class: 'box-icons')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog',  class: 'box-icons')
  .side-bar-group-list
    .side-bar-group-list-block
      .side-bar-group-list-block-group-name
        techcamp
      .side-bar-group-list-block-group-message
        まだメッセージがありません
      .side-bar-group-list-block-group-name
        test
      .side-bar-group-list-block-group-message
        まだメッセージがありません