.side-bar
  .side-bar-user-name
    .side-bar-user-name-box
      .side-bar-user-name-box-name
        = current_user.name
      .side-bar-user-name-box-icons
        = link_to new_group_path do
          = icon('far', 'edit',  class: 'box-icons')
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog',  class: 'box-icons')
  .side-bar-group-list
    - current_user.groups.each do |group|
      .side-bar-group-list-block
        = link_to group_messages_path(group.id) do
          .side-bar-group-list-block-group-name
            = group.name
          .side-bar-group-list-block-group-message
            = group.show_last_message